@page
@model IndexModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @if (SignInManager.IsSignedIn(User))
        {
            <p>Please register to the Human API</p>
        }
        else
        {
            <p>Please Login to continue</p>
        }
    </div>
